
.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  justify-content: space-between;    
  align-items: center;
  color: var(--color-white);
  padding: 8px 0;    
  /* background-color: transparent; */
  background-color: transparent;    
  transition: all var(--animation-duration) ease-in-out;
  z-index: 2;
}

.navbar .navbarDark .logo {
  color: var(--color-white);
}

.navbar.navbarDark .logo{
  color: var(--color-white);
}

.navbar.navbarDark{
  background-color: var(--color-dark-grey);    
  color: var(--color-white);
  padding: 2px;
  opacity: 0.95;
  z-index: 1;
}

.menu {
  display:flex;
}

.menu ul,
.logo {
  padding: 0 8px;
}

.navbar a {
  color: var(--color-dark-grey);
}

.logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  display: flex;
  transition: ease-in .1s;
  cursor: pointer;
  margin-left: 10px;
}

.logo:hover {
  transform: scale(1.06);
}

.logo a {
  margin-left: 10px;
  color: var(--color-white);
}

.item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer; /*마우스 올렸을때 손가락모양*/
  border: 1px solid transparent;
}

.item:hover {
  border: 1px solid var(--color-white);
  color: var(--color-dark-grey);
  background-color: var(--color-green);    
  border-radius: var(--size-border-radius);
  transition: 0.5s;
}

.toggle_btn {
  position:absolute;
  top: 10px;
  right: 32px;
  font-size: 24px;
  margin-top: 4px;
  color: var(--color-white);
  display: none;  
}

.menu.open {
  display: block;
}

/* @media screen and (max-height:567px) {
  .navbar {
    background-color: var(--color-blue);    
    padding: 1px;
  }
} */

@media screen and (max-width:768px) {
  .toggle_btn {
    display: flex;
  }

  .menu,
  .menu .close {
    display: none;    
  }

  .menu,
  .menu .open{
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
  }
  
  .navbar .close {
    height: 0px;
  }
      
  .navbar .open {
    height: 220px;
  }
}