.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100vw;
  height: 100vh;   */
}

/* Common */
.inner {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;  
  box-sizing: border-box
}
select {
  text-indent: 8px;  
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.swiper-pagination {
	position: absolute;
	/* margin-bottom: 80px !important; */
	margin: 0;
}
.swiper-pagination-bullet {	
  /* padding: 5px 10px; */
	border-radius: 0;
	width: 10px !important;
	height: 10px !important;
	text-align: center;
	/* line-height: 30px !important; */
	font-size: 12px;
	color:#000;
	opacity: 1;
  border-radius: 50%;
	background: rgba(0,0,0,0.2);
  transition: all .3s ease-in;
  margin-bottom: 40px !important;
}
.swiper-pagination-bullet-active {
	color:#fff;
  padding: 0 7px 0 7px;  
  border-radius: 17px !important;
	background: #007aff;
}
/* .swiper-button-prev {
  position: fixed;  
  width: 30px !important;
  height: 30px !important;  
  background-image: url('./images/slider/prev.svg');  
}
.swiper-button-next {
  position: fixed;  
  width: 30px !important;
  height: 30px !important;  
  background-image: url('./images/slider/next.svg'); 
} */
/* .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
} */
.feature_menu:hover .swiper-button-prev {
  display: none;
}


/* Header */
.header-box {  
  display: flex;
  justify-content: center;  
}
.header {
  display: flex;
  width: 100%;
  /* width: 1100px; */
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  z-index: 9999;
  font-size: 16px;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: all ease-in .2s;
  box-sizing: border-box;
}
.header-cover {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 9998;
  top: 0;
  transition: all ease-in .2s;
}
.header-active {
  background-color: #fff;
  /* border-bottom: 1px solid #252D38; */
}
.logo img {    
  cursor: pointer;
}
.header nav {
  /* width: 830px; */
  text-align: right;  
}
.nav-menu {
  list-style: none;
  display: flex;  
  justify-content: end;
  
}
.nav-menu li {
  margin-right: 40px;  
  
}
.nav-menu li a {
  color: #252D38;    
}
.berger {
  display: none;
}

.loginBtn {
  color: #3182F6;  
  word-break: nowrap;    
}
/* sidebar */
.sidebar {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 10000;
  transition: all ease-in .2s;
  left: 1px;
}
.sidebar-on {
  margin-left: 0%;
  /* display: block; */
}
.sidebar-off {
  margin-left: 100%;
  /* display: none; */
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px 20px 20px;
}
.sidebar-header > div:nth-child(2) > img {
  width: 20px;
  cursor: pointer;
  padding-right: 20px;
}
  
.sidebar-menu {
  padding: 26px 20px 20px 20px;
  /* margin-top: 10px; */
}
.sidebar-menu li {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}
.sidebar-login-box {  
  display: flex;
  justify-content: center;
}
.sidebar-login-btn {
  position: absolute;
  width: 320px;
  height: 64px;
  margin: auto;
  border: 0;
  font-size: 20px;
  color: #fff;  
  bottom: 55px;
  background: #3182F6;
  border-radius: 10px;
  z-index: 10001;
}

/* Visual */
.visual {
  width: 100%;
  /* height: 800px; */
  margin: auto;
  background-color: #E8F3FF;
  position: relative;  
  top: 0;
  display: flex;  
  justify-content: center;  
}
.visual-contents-box {  
  margin-top: 170px;
  width: 100%;  
  justify-content: space-between;  
  display: flex;
}
.visual-contents-left {
  /* margin-right: 200px;   */
}
.visual-main-title {
  line-height: 47.6px;
  margin-bottom: 30px;
  font-size: 34px;
  line-height: 140%;
  color: #252D38;
}
.visual-text-contents {
  margin-bottom: 110px;  
  font-size: 16px;
  line-height: 25.6px;
  color: #494B52;
}
.visual-btn-box {
  display: block;
  margin-bottom: 225px;
}
.visual-btn-box2 {
  display: none;
}
.visual-btn {
  width: 140px;
  height: 52px;  
  background-color: #3182F6;
  border: 0;    
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in;  
}
.visual-btn:hover {
  border: 1px solid #3182F6;
  background-color: #fff;
  color: #3182F6;
}

/* Feature */
.feature {  
  width: 100%;
  /* height: 738px;   */
  /* margin-bottom: 130px; */
}
.feature-title-box {
  display: flex;  
  flex-direction: column;
  justify-content: center;
}
.feature-sub-title {
  width: 95px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #3182F6;  
  background-color: #E8F3FF;
  margin-bottom: 16px;
  margin-top: 80px;
}
.feature-title {
  margin-bottom: 33px;
  font-size: 34px;
}
.feature-contents-box {
  max-width: 1200px;  
  display: flex;
  /* justify-content: space-between;     */
  margin-bottom: 130px;
}
.feature-content-wrap {
  width: 100%;
}
.feature-content {
  width: 320px;
  /* height: 360px; */
  /* border-radius: 14px; */
  margin-right: 40px;
  margin-bottom: 60px;
  color: #5A5C61;
  /* color: #fff; */
  /* padding: 30px 23px 25px 23px; */
  overflow: hidden;
  /* background-color: tomato;   */
}
.feature-content-title {
  font-weight: 400;
  font-size: 20px;
  color: #28292B;
  margin-bottom: 21px;
}
.feature-content-text {
  font-weight: 400;  
  line-height: 25.6px;
  font-size: 16px;  
}
.feature-menu-box {
  display: flex;
  justify-content: start;
}
.feature-content-img {
  /* text-align: right;   */
  text-align: left;
}
.feature-content:nth-child(1) {
  /* background-color: #3C4351; */
}
.feature-content:nth-child(2) {
  /* background-color: #384B71; */
}
.feature-content:nth-child(3) {
  /* background-color: #3494E2; */
  margin-right: 0;
}
.feature-content:nth-child(1) .feature-content-img{    
  /* margin-top: 30%; */
}
.feature-content:nth-child(2) .feature-content-img{
  /* margin-top: 25%;
  margin-right: -5%; */
}
.feature-content:nth-child(3) .feature-content-img{
  /* margin-top: 40%; */
}
/* Promotion */
.promotion {
  width: 100%;
  /* height: 1250px; */
  margin: auto;
  text-align: center;
  background-color: #FAFBFE;
  padding-bottom: 60px;
}
.promotion-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}
.promotion-title {
  width: 95px;
  height: 36px;
  margin: auto;
  background-color: #E8F3FF;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3182F6;
  border-radius: 5px;
  margin-top: 86px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 8px;
}
.promotion-main-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;  
  color: #252D38;
  margin-bottom: 22px;  
}
.promotion-sub-title {
  font-size: 20px;
  color: #494B52;
  line-height: 100%;  
}

.promotion-contents-box {

}
.promotion-contents-box {
  
}

.promotion-form {
  margin: auto;
  max-width: 840px;
  /* height: 840px; */
  padding: 60px 50px 60px 50px;
  background-color: #fff;
  border-radius: 15px;
  /* border: 1px solid black; */
  box-sizing: border-box;
}
.promotion-form input {
  text-indent: 12px;
}
.pf-row {
  display: flex;
  flex-basis: auto;
  width: 100%;
  /* margin-bottom: 24px; */
}
.pf-input-box {
  display: flex;
  flex-direction: column;
  text-align: left;  
  width: 100%;
  height: 100%;
}
.pf-input-box select{
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('./images/Triangle.svg') no-repeat 97% 50%/7px auto;  
}
.pf-input-box select option {
  border-radius: 10px;
  padding: 10px;  
  /* background:transparent;
  border: 0 */
}
.pf-input-box select option::selection {
  background-color: #F2F4F7;
}
.pf-input-box .password-preview{  
  margin-top: -30px;
  margin-bottom: 15px;
  margin-left: 93%;
  color: #717985;
  cursor: pointer;
}
.pf-input-box .password-preview:active{
  color: black;
}

.pf-input-box:nth-child(1) {
  margin-right: 30px;
}
.pf-input-box-long {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* margin-bottom: 24px; */
}
.pf-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #717985;
}
.pf-label span {
  color: #3182F6;
}
select .pf-input-box {
  border-radius: 10px;
}
.pf-input-middle {  
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CDCED1;    
  font-size: 16px;  
}
.pf-input-long {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CDCED1;  
  font-size: 16px;  
}
.pf-valid {
  margin-top: 8px;  
  height: 30px;
  /* display: none; */  
  visibility: hidden;  
}
.pf-error-input {
  border: 1px solid #EF5350;
}
.pf-error {
  margin-top: 8px;
  height: 30px;  
  color: #EF5350;
  visibility: visible;
  font-size: 14px;
}
.pf-check{
  margin-top: 34px;
  text-align: left;
}
.pf-check-line {
  display: flex;
  align-items: center;
}
.pf-check-line label div {
  width: 100%;
  height: 100%;
}
/* .pf-check-line label div:hover {
  background-color: tomato;
} */
/* .pf-check-box {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 8px;
} */
.pf-check-line input[type=checkbox] {
  display: none;
}
.pf-check-line input[type=checkbox]+label {
  width: 16px;
  height: 16px;  
  border-radius: 4.5px;
  overflow: hidden;
  margin-right: 8px;
  background-image: url("/src/images/checkbox.svg");  
  background-repeat: no-repeat;
  background-position: center left;
}
.pf-check-line input[type=checkbox]:checked+label {
  background-image: url("/src/images/cheked.svg");
  z-index: 10;
}
.pf-check-line input[type=checkbox]+label:hover{
  filter: brightness(90%);  
  background-color: #949494;
  z-index: 1;
  /* overflow: hidden; */
}
.pf-check-line label {
  /* flex: 1; */
}
.pf-check-line label div {
  width: 16px;
  border-radius: 4.5px;
}
.pf-check-line p {
  /* flex: 9; */
}
.pf-check-line p b{
  color: #252D38;
}
.pf-check input {
  /* margin-top: 5px; */
  margin-right:8px;
}
.pf-check input::placeholder{
  color: #717985;
  text-indent: 12px;
}
.pf-submit {
  margin-top: 59px;
  width: 283px;
  height: 52px;
  color: #fff;
  background-color: #3182F6;
  font-size: 18px;
  line-height: 100%;
  border: 0;
  border-radius: 10px;
  text-indent: 0 !important;
  cursor: pointer;
}
.pf-submit:disabled {
  background-color: #ADCDFB;
  cursor: default;
}


.selectBox {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-indent: 10px;
  background: url('./images/Triangle.svg') no-repeat 97% 50%/7px auto;
}
.optionList {
  background-color: #fff;
  border: 1px solid black;
  position: absolute;
  display: none;
  margin-top: 140px;
  border-radius: 5px;
}

/* About */
.about {
  margin: auto;
  margin-top: 60px;
  width: 100%;  
  background-image: url('./images/bg_beans.png');
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 50px;
}
.about-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 160%;
  color: #262C3C;  
  margin-top: 80px;
  margin-bottom: 20px;
}
.about-text {
  font-size: 18px;
  color: #5A5C61;  
  line-height: 160%;
  margin-bottom: 32px;
}
.about-btn {  
  width: 140px;
  height: 52px;
  font-weight: 400;
  background-color: #fff;
  color: #3182F6;
  border: 1px solid #3182F6;
  font-size: 18px;
  line-height: 100%;
  border-radius: 8px;  
  cursor: pointer;
  transition: all .2s ease-in;
  margin-bottom: 72px;
}
.about-btn:hover {  
  color: #fff;
  background-color: #3182F6;
}

/* Brochure */
.brochure {
  height: 350px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brochure-icon-box {  
  display: flex;
  flex-direction: row;
  justify-content: center;  
}
.brochure-icon:nth-child(1) {  
  margin-right: 60px;
}
.icon-circle {
  width: 60px;
  height: 60px;
  border: 1px solid #EDEFF3;
  border-radius: 20px;  
  margin: auto;
  margin-bottom: 25px;
}
.icon-circle img {
  margin-top: 10px;
  align-items: center;
}
.brochure-icon-title {
  color: #28292B;
  font-weight: 500;  
  font-size: 18px;  
  margin-bottom: 14px;
}
.brochure-icon-content {
  font-size: 16px;
  font-weight: 350;
  color: #5A5C61;
  margin-bottom: 20px;
}
.brochure-icon-download{  
  font-weight: 500;
  font-size: 16px;
  color: #3182F6;  
}
.brochure-about-badge {  
  width: 100%;
  height: 280px;      
}
.badge-contents {  
  height: 230px;    
  /* background-color: #3182F6; */
  border-radius: 20px;
  display: flex;
  justify-content: space-around;  
  align-items: center;
}
.brochure-about-contents {

}
.brochure-about-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 24px;
}
.brochure-about-sub {
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}
.brochure-about-btn-box {  
  background: #FFFFFF;
  border-radius: 8px;  
  width: 140px;
  height: 52px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.brochure-about-btn {
  width: 140px;
  height: 52px;
  border-radius: 8px;
  color: #3182F6;
  background-color: tomato;
  z-index: 9999;
  margin-left: 52.5em;
  font-size: 16px;
  line-height: 100%;
  opacity: 0;
  position: absolute;
}

/* Footer */
.footer {
  width: 100%;
  /* height: 255px; */
  background-color: #fff;
  font-size: 14px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
  margin-bottom: 87px;
}
.footer-menu-left {

}
.footer-menu-left ul li{
  display: inline-block;
  margin-right: 30px;  
}
.footer-menu-left ul li:nth-child(1){
  color: #797B82;
}
.footer-menu-left ul li:nth-child(2) a{
  color: #5A5C61;
}
.footer-menu-left ul li:nth-child(3) a{
  color: #5A5C61;
}
.footer-menu-right {

}
.footer-menu-right ul li {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}
.footer-menu-right ul li img {
  width: 28px;
}
.footer-text {  
  color: #797B82;
  line-height: 175%;
}
@media screen and (max-width:1024px) {
  /* brochure */
  .badge-contents img{
    width: 1024px;
  }
  .brochure-about-btn {
    width: 123px;    
    margin-left: 45em;    
  }
}
@media screen and (max-width:768px) {    
  /* Common */
  .inner {    
    /* padding: 0 19px;     */
    box-sizing: border-box
  }
  .swiper-pagination-bullet {
    /* margin-top: 20px !important; */
    margin-bottom: 0px !important;
  }
  .swiper-pagination {        
    margin-bottom: 68px!important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;   
  }

  /* header */
  .nav-menu {
    display: none;
  }
  .berger {
    display: block;
    cursor: pointer;
  }

  /* visual */
  .visual-main-title {
    font-style: normal;
    font-weight: normal;
  }
  .visual-contents-box {
    text-align: center;
  }
  .visual-btn-box {
    display: none;
  }
  .visual-btn-box2 {
    margin-bottom: 80px;
    display: block;
  }
  .visual-btn {
    margin-top: 5%;
    width: 320px;
  }
  .visual-contents-box {
    flex-direction: column;
  }
  .visual-main-title {
    font-size: 32px;
    line-height: 140%;
  }
  .visual-text-contents {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 160%;
  }
  .visual-contents-box {
    margin-top: 100px;
  }
  .visual-contents-right{
    margin-bottom: 58.5px;
  }
  .visual-contents-right div img {
    width: 284px;
  }

  /* Feature */
  .feature {
    /* height: 2017px; */
  }
  .feature-title-box {
    text-align: center;
  }
  .feature-sub-title {
    margin: 44px auto 30px auto;
  }
  .feature-contents-box {
    flex-direction: column;
    margin-bottom: 82px;
  }  
  .feature-content,
  .feature-content-img{
    margin-bottom: 32px;
    width: 350px;
    margin: auto;
  }
  .feature-content-img {
    margin-bottom: 38px;
  }
  .feature-content-title {
    font-size: 24px;    
  }
  .feature-content-text {
    font-size: 16px;
    line-height: 160%;
  }
  .feature-content:nth-child(1) {
    margin-bottom: 34px;
  }
  .feature-content:nth-child(2) {
    margin-bottom: 34px;
  }
  .feature-content:nth-child(3) {
    margin: auto;    
  }

  /* Promotion */
  .promotion-form {
    max-width: 424px;
  }
  .promotion-main-title {
    font-size: 32px;
    line-height: 47.6px;
  }
  .promotion-sub-title {
    font-size: 20px;
    line-height: 30px;
  }
  .pf-row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .pf-input-box:nth-child(1) {
    margin-right: 0;
  }
  .pf-input-box {
    /* margin-bottom: 16px; */
  }
  .pf-input-box2 {
    margin-top: 32px;
  }
  .pf-input-box div .password-eye{
    position: absolute;    
  }
  .pf-valid {
    margin-top: 12px;  
    height: 52px;
    /* display: none; */  
    visibility: hidden;  
  }
  .pf-error-input {
    border: 1px solid #EF5350;
  }
  .pf-error {
    margin-top: 12px;
    height: 52px;  
    color: #EF5350;
    visibility: visible;
    font-weight: 400;
    font-size: 20px;
  }
  .pf-submit {
    width: 100%;
    margin-top: 32px;
  }

  /* About */
  .about-btn {
    width: 320px;
  }
  .about-title {
    font-size: 34px;
    line-height: 140%;
  }  

  /* Brochure */
  .brochure {
    height: auto;
    margin-bottom: 124px;
    margin-top: 80px;
  }
  .brochure-icon-box {
    flex-direction: column;    
  }
  .brochure-icon:nth-child(1) {
    margin-right: 0;
    margin-bottom: 90px;
  }  
  .brochure-about-badge {  
    width: 100%;
    height: 280px;    
  }
  /* .badge-contents {  
    height: 230px;    
    background-color: #3182F6;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    flex-direction: column;
    padding: 36px 28px 30px 28px;
  } */
  .brochure-about-contents {
    
  }
  .brochure-about-title {
    font-weight: normal;
    font-size: 34px;
    line-height: 130%;    
  }
  .brochure-about-sub {
    font-size: 16px;
    line-height: 160%;
    color: #fff;
  }
  .brochure-about-btn-box {  
    background: #FFFFFF;
    border-radius: 8px;  
    width: 140px;
    height: 52px;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brochure-about-btn {
    width: 222px;
    height: 56px;
    border-radius: 5px;
    position: absolute;
    margin-top: 21em;
    margin-left: 0;
    background-color: #fff;
    opacity: 0;
  }
  .brochure-badge-box {
    display: flex;
    justify-content: center;
  }
  .brochure-badge-box img {
    width: 424px;
    height: 481px;
  }
  .mobile-about-btn {                        
  }

  /* Footer */
  .mFooter {
    margin-left: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;    
  }
  .mFooter-menu a{
    color: #2E2E2E;
  }
  .mFooter-menu li{
    margin-bottom: 50px;
  }
  .mFooter-icon {
    margin-bottom: 50px;
  }
  .mFooter-icon ul{
    display: flex;
  }
  .mFooter-icon ul li {
    cursor: pointer;
    margin-right: 20px;
  }
  .mFooter-icon ul li img {
    width: 28px;
  }
  .mFooter-copyright {
    color: #949494;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width:480px) { 
  /* Common */
  .inner {
    padding: 0;
  }
  /* Header*/
  .header {
    width: 100vw;
    padding: 0 28px;
  }
  /* visual */
  .visual-main-title {
    font-size: 24px;
  }
  .visual-contents-left p img {
    width: 280px;
  }
  .badge-contents img{
    width: 1024px;
  }  
  .brochure-about-btn {
    width: 220px;
    height: 54px;    
    position: absolute;
    margin-top: 21.1em;
    margin-left: 0;    
  }
  .brochure-badge-box img {    
    width: 400px;
  }
  /* Feature */
  .feature-title {
    font-size: 32px;
  }
    /* Promotion */
  /* .promotion-form {
    padding: 30px 25px 30px 25px;
  }
  .pf-submit {
    font-size: 16px;
    margin-top: 20px;
  } */
  /* brochure */
}
@media screen and (max-width:320px) { 
  /*visual*/
  .visual-main-title {
    font-size: 20px;
  }
  .visual-text-contents img {
    width: 250px;
  }
  /*feature*/
  .feature-sub-title {
    font-size: 16px;
  }
  .feature-title {
    font-size: 22px;
  }
  /* brochure */
  .brochure {
    margin-bottom: 24px;
  }
  .brochure-badge-box {
    justify-content: space-around;
  }
  .brochure-badge-box img {
    width: 300px;
  }
  .brochure-about-btn {
    width: 166px;
    height: 41px;    
    margin-top: 19.64em;    
  }
  .visual-contents-right div img {
    width: 250px;
  }
  .visual-contents-left p img {
    width: 250px;
  }
  .menu1 img, .menu2 img, .menu3 img {
    width: 250px;
  }
}