.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100vw;
  height: 100vh;   */
}

/* Common */
.inner {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1200px;  
  box-sizing: border-box
}
select {
  text-indent: 8px;  
}

/* Header */
.header-box {  
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  width: 100%;
  /* width: 1100px; */
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-sizing: border-box;
  z-index: 9999;
  font-size: 16px;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: all ease-in .2s;
  box-sizing: border-box;
}
.header-cover {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index: 9998;
  top: 0;
  transition: all ease-in .2s;
}
.header-active {
  background-color: #fff;
  border-bottom: 1px solid #252D38;
}
.logo img {
  margin-top: 10px;
  cursor: pointer;
}
.header nav {
  width: 830px;
  text-align: right;  
}
.nav-menu {
  list-style: none;
  display: flex;  
  justify-content: end;
  
}
.nav-menu li {
  margin-right: 40px;  
  
}
.nav-menu li a {
  color: #252D38;    
}
.berger {
  display: none;
}

.loginBtn {
  color: #3182F6;  
  word-break: nowrap;    
}

/* Visual */
.visual {
  width: 100%;
  /* height: 800px; */
  margin: auto;
  background-color: #E8F3FF;
  position: relative;  
  top: 0;
  display: flex;  
  justify-content: center;  
}
.visual-contents-box {  
  margin-top: 170px;
  width: 100%;  
  justify-content: space-between;  
  display: flex;
}
.visual-contents-left {
  /* margin-right: 200px;   */
}
.visual-main-title {
  line-height: 60px;
  margin-bottom: 30px;
  font-size: 48px;
  color: #252D38;
}
.visual-text-contents {
  margin-bottom: 50px;  
  font-size: 22px;
  line-height: 35px;
  color: #494B52;
}
.visual-btn-box {
  display: block;
  margin-bottom: 225px;
}
.visual-btn-box2 {
  display: none;
}
.visual-btn {
  width: 140px;
  height: 52px;  
  background-color: #3182F6;
  border: 0;    
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease-in;  
}
.visual-btn:hover {
  border: 1px solid #3182F6;
  background-color: #fff;
  color: #3182F6;
}

/* Feature */
.feature {  
  width: 100%;
  height: 738px;  
}
.feature-title-box {
  display: flex;  
  flex-direction: column;
  justify-content: center;
}
.feature-sub-title {
  font-size: 20px;
  font-weight: bold;
  color: #3182F6;  
  margin-bottom: 12px;
  margin-top: 80px;
}
.feature-title {
  margin-bottom: 80px;
}
.feature-contents-box {
  width: 1200px;  
  display: flex;
  justify-content: space-between;    
}
.feature-content {
  width: 320px;
  height: 360px;
  border-radius: 14px;
  /* margin-right: 70px; */
  color: #fff;
  padding: 30px;
  overflow: hidden;
}
.feature-content-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 18px;
}
.feature-content-text {
  font-weight: 400;  
  line-height: 25.6px;
  font-size: 16px;  
}
.feature-content-img {
  text-align: right;  
}
.feature-content:nth-child(1) {
  background-color: #3C4351;
}
.feature-content:nth-child(2) {
  background-color: #384B71;
}
.feature-content:nth-child(3) {
  background-color: #3494E2;
}
.feature-content:nth-child(1) .feature-content-img{
  margin-top: 30%;
}
.feature-content:nth-child(2) .feature-content-img{
  margin-top: 25%;
  margin-right: -5%;
}
.feature-content:nth-child(3) .feature-content-img{
  margin-top: 40%;
}
/* Promotion */
.promotion {
  width: 100%;
  height: 1250px;
  margin: auto;
  text-align: center;
  background-color: #FAFBFE;
}
.promotion-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}
.promotion-title {
  width: 95px;
  height: 36px;
  margin: auto;
  background-color: #E8F3FF;  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3182F6;
  border-radius: 5px;
  margin-top: 86px;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 8px;
}
.promotion-main-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 100%;  
  color: #252D38;
  margin-bottom: 22px;  
}
.promotion-sub-title {
  font-size: 20px;
  color: #494B52;
  line-height: 100%;  
}

.promotion-contents-box {

}
.promotion-contents-box {
  
}

.promotion-form {
  margin: auto;
  width: 840px;
  /* height: 840px; */
  padding: 60px 50px 60px 50px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid black;
  box-sizing: border-box;
}
.promotion-form input {
  text-indent: 12px;
}
.pf-row {
  display: flex;  
  justify-content: space-between;
  margin-bottom: 16px;
}
.pf-input-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.pf-input-box-long {  
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 16px;
}
.pf-label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #717985;
}
.pf-label span {
  color: #3182F6;
}
select .pf-input-box {
  border-radius: 10px;
}
.pf-input-middle {
  width: 355px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CDCED1;    
  font-size: 16px;
}
.pf-input-long {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #CDCED1;  
  font-size: 16px;
}
.pf-valid {
  margin-top: 8px;
  visibility: hidden;  
}
.pf-error-input {
  border: 1px solid #EF5350;
}
.pf-error {
  margin-top: 8px;
  color: #EF5350;
  visibility: visible;
}
.pf-check{
  text-align: left;
}
.pf-check-line {
  display: flex;
}
.pf-check input {
  margin-top: 5px;
  margin-right:8px;
}
.pf-check input::placeholder{
  color: #717985;
  text-indent: 12px;
}
.pf-submit {
  margin-top: 59px;
  width: 283px;
  height: 52px;
  color: #fff;
  background-color: #3182F6;
  font-size: 18px;
  line-height: 100%;
  border: 0;
  border-radius: 10px;
}
/* About */
.about {
  margin: auto;
  margin-top: 60px;
  width: 100%;
  height: 508px;
  background-image: url('./images/bg_beans.png');
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.about-title {
  font-size: 34px;
  font-weight: bold;
  line-height: 160%;
  color: #262C3C;  
  margin-top: 80px;
  margin-bottom: 20px;
}
.about-text {
  font-size: 18px;
  color: #5A5C61;  
  line-height: 160%;
  margin-bottom: 32px;
}
.about-btn {  
  width: 140px;
  height: 52px;
  font-weight: 400;
  background-color: #fff;
  color: #3182F6;
  border: 1px solid #3182F6;
  font-size: 18px;
  line-height: 100%;
  border-radius: 8px;  
  cursor: pointer;
  transition: all .2s ease-in;
  margin-bottom: 72px;
}
.about-btn:hover {  
  color: #fff;
  background-color: #3182F6;
}

/* Footer */
.footer {
  width: 100%;
  height: 248px;
  background-color: #fff;
  font-size: 14px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  margin-bottom: 48px;
}
.footer-menu-left {

}
.footer-menu-left ul li{
  display: inline-block;
  margin-right: 30px;  
}
.footer-menu-left ul li:nth-child(1){
  color: #797B82;
}
.footer-menu-left ul li:nth-child(2) a{
  color: #5A5C61;
}
.footer-menu-left ul li:nth-child(3) a{
  color: #5A5C61;
}
.footer-menu-right {

}
.footer-menu-right ul li {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}
.footer-text {  
  color: #797B82;
  line-height: 175%;
}

@media screen and (max-width:768px) {  
  /* header */
  .nav-menu {
    display: none;
  }
  .berger {
    display: block;
  }

  /* visual */
  .visual-contents-box {
    text-align: center;
  }
  .visual-btn-box {
    display: none;
  }
  .visual-btn-box2 {
    margin-bottom: 80px;
    display: block;
  }
  .visual-btn {
    margin-top: 5%;
    width: 100%;
  }
  .visual-contents-box {
    flex-direction: column;
  }
}