.home {
  background: url('/src/imgs/background2.jpg') center/cover no-repeat;
  padding: 40px;  
  padding-top: 120px;
  text-align: center;    
  height: 500px;
}

.particles {
  position: absolute;
  z-index: 3;
  height:"100vh";
  width:"100vw";
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.title,
.description {
  color: var(--color-white)
}

.container {
  position: relative;  
}

.contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
  transition: all var(--animation-duration) ease-in;  
}

.contact:hover {
  background-color: var(--color-green);
  color: var(--color-black);
  border: 2px solid var(--color-green);  
}