.progress-bar-boundary {
  border: 1px solid black;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;

}

.progress-bar-boundary div {
  background: green;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  color: white;  
  transition: 0.5s;
  border-radius: 2px;
}