/* 공통부분 */

* {
  text-align: center;  
}

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #1c7ed6;
  --color-blue-light: #89D4FC;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;    
}

a {
  text-decoration: none; /*밑줄 제거*/
  color: var(--color-white);
}

ul {    
  padding-left: 0;
}

li {
  list-style: none; /*땡땡이 없애기*/
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}