@value makerBlack, makerWhite from '../../common/colors.css';

.form {
    display: flex;
    width: 100%;
    flex-wrap: wrap; /*너비가 넓으면 아래줄로 내림*/
    border-top: 1px solid makerBlack;
    border-left: 1px solid makerBlack;
    margin-bottom: 1em;        
}

.input,
.textarea,
.select,
.button,
.fileInput {
    font-size: 0.8rem;
    width: 100%;
    border: 0;
    padding: 0.5em;
    border-bottom: 1px solid makerBlack;
    border-right: 1px solid makerBlack;
    background: makerWhite;
}

.input,
.select {
    flex: 1 1 30%; /*input과 select를 한줄에 3개씩 나오게*/
}

.fileInput {
    padding: 0;
    flex: 1 1 50%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
    outline: 0;
}

.textarea {
    flex-basis: 100%; /*textarea는 한줄에 하나만 나오게*/
}