@value Green makerGreen, makerLightPink, makerWhite from '../../common/colors.css';

.login {
    width: 20em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: makerWhite;    
    border: 0.2rem solid Green;
    border-radius: 7px;
    padding: 7px;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5rem;
}

.item {
    margin-bottom: 0.5em;
}

.button {
    width: 100%;
    height: 2.5em;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border: 0.2rem solid black;
    outline: 0;
}

.button:hover {
    background-color: darkseagreen;
}
