@value makerShadow from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerColorful from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';

.card {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: yellow;
    border-radius: 1em;
    margin-bottom: 0.5em;    
    padding: 0.2em 0;
    box-shadow: 6px 6px 8px 0px makerShadow;
    max-width: 30rem;    
    color: makerBlack;

}

.card.dark {
    background-color: makerBlack;
    color: makerWhite;
}

.card.light {
    background-color: makerWhite;
    color: makerBlack;
}

.card.colorful {
    background: makerColorful;    
}

.avatar {
    width: 10em;
    height: 10em;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
}

.info {
    width: 100%;
}

.name,
.company,
.title,
.email,
.message{
    margin: 0;
    font-size: 0.8rem;
    margin-bottom: 0.2em;
}

.name{
    font-size: 1.2rem;
}

.company{
    margin-bottom: 1em;
}

.company::after{
    content:'';
    display: block;
    width: 90%;
    height: 2px;
    background-color: makerWheat;
    transform: translateY(0.5em);
}