:root{
  --padding-size:10px;
}

.post {
  width: 98%;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #05C072;  
  margin: auto;
  /* margin-bottom: 5px; */
}

/* .post:last-child{
  margin-bottom: 0;
} */

.header {
  height: 30px;
  margin-bottom: 20px;
  padding: var(--padding-size);
}

.profile {
  width: 30px;
  height: 30px;
  background-size: 100%;
  border-radius: 50%;
  float: left;  
}

.name {
  display: block;
  float: left;
  padding-left: 10px;
  padding-top: 3px;
  font-size: 14px;
  font-weight: 600;
}

.body {
  background-position: center;
  background-size: cover;
  padding: 0px var(--padding-size);;
}

.content {
  padding-left: 5px;
  /* padding-right: 15px; */  
  font-size: 14px;
  text-align: left;
}

.contentText {
  /* color: white;   */
}

.date {
  font-size: 11px;
  /* color: grey; */
  margin-top: -8px;
}

.inputBox {
  display: flex;

}