.contact {
  background-color: var(--color-dark-grey);
  padding: 20px 0;
}
.contact h1,
.contact p {
  margin: 10px;
}

.contact__title,
.contact__email,
.contact__rights {
  font-size: var(--font-medium);
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links .icon{  
  margin: 24px 0;    
  font-size: var(--font-large);
  transition: all var(--animation-duration) ease-in;    
}

.contact__links .icon:hover {
  transform: scale(1.1);
  color: var(--color-green);    
}

@media screen and (max-width:768px) { 
  .contact__title{
    font-size: var(--font-medium);    
  }

  .contact__email,
  .contact__rights {
    font-size: var(--font-regular);    
  }
}