@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 900;
  src: url(/src/font/NotoSans-Black.eot);
  /* src: url(/src/font/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-Black.woff2) format("woff2"), url(/src/font/NotoSans-Black.woff) format("woff"), url(/src/font/NotoSans-Black.ttf) format("truetype") */
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 800;
  src: url(/src/font/NotoSans-Bold.eot);
  /* src: url(/src/font/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-Bold.woff2) format("woff2"), url(/src/font/NotoSans-Bold.woff) format("woff"), url(/src/font/NotoSans-Bold.ttf) format("truetype") */
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  src: url(/src/font/NotoSans-Medium.eot);
  /* src: url(/src/font/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-Medium.woff2) format("woff2"), url(/src/font/NotoSans-Medium.woff) format("woff"), url(/src/font/NotoSans-Medium.ttf) format("truetype") */
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 600;
  src: url(/src/font/NotoSans-Regular.eot);
  /* src: url(/src/font/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-Regular.woff2) format("woff2"), url(/src/font/NotoSans-Regular.woff) format("woff"), url(/src/font/NotoSans-Regular.ttf) format("truetype") */
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: url(/src/font/NotoSans-DemiLight.eot);
  /* src: url(/src/font/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-DemiLight.woff2) format("woff2"), url(/src/font/NotoSans-DemiLight.woff) format("woff"), url(/src/font/NotoSans-DemiLight.ttf) format("truetype") */
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url(/src/font/NotoSans-Light.eot);
  /* src: url(/src/font/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-Light.woff2) format("woff2"), url(/src/font/NotoSans-Light.woff) format("woff"), url(/src/font/NotoSans-Light.ttf) format("truetype") */
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 300;
  src: url(/src/font/NotoSans-Thin.eot);
  /* src: url(/src/font/NotoSans-Thin.eot?#iefix) format("embedded-opentype"), url(/src/font/NotoSans-Thin.woff2) format("woff2"), url(/src/font/NotoSans-Thin.woff) format("woff"), url(/src/font/NotoSans-Thin.ttf) format("truetype") */
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
textarea,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body,
a {
  font-family: 'NotoSans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  color: #797b82
}

@media (min-width: 320px) and (max-width: 757px) {

  body,
  a {
      font-size: 14px
  }
}

h2 {
  margin: 16px 0;
  text-align: center;
  line-height: 140%;
  font-size: 34px;
  font-weight: 700;
  color: #28292b
}

@media (min-width: 320px) and (max-width: 757px) {
  h2 {
      margin: 10px 0;
      font-size: 24px
  }
}

h2+p {
  margin-top: 10px;
  text-align: center
}

h3 {
  font-size: 22px;
  font-weight: 700;
  color: #28292b
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #28292b
}

strong {
  font-weight: 700
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption {
  font-size: 0
}

option {
  height: 20px
}

.skip {
  display: none;
  text-align: center;
  border-bottom: 1px solid #f2f2f2
}

.inner {
  margin: 0 auto;
  padding: 0 50px;
  width: 1200px;
  box-sizing: border-box
}

@media (min-width: 320px) and (max-width: 757px) {
  .inner {
      padding: 0 30px;
      width: 100%
  }
}

.btn {
  display: inline-block;
  width: 148px;
  height: 46px;
  text-align: center;
  line-height: 44px;
  color: #25c16f;
  background-color: #fff;
  border: 1.5px solid #25C16F;
  border-radius: 5px;
  transition: all .2s
}

.btn:hover {
  color: #FFFFFF;
  background: #25C16F;
  border-radius: 5px;
}

.btn.primary {
  color: #fff;
  background-color: #25c16f;
  border-color: #25c16f
}

.btn.primary:hover {
  background-color: #2dd67c;
  border-color: #2dd67c
}

.btn+.btn {
  margin-left: 17px
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  transition: background-color .2s;
  z-index: 1
}

@media (min-width: 320px) and (max-width: 757px) {
  header {
      height: 60px
  }
}

header>.inner {
  font-size: 0;
  overflow: visible
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between
  }
}

header>.inner * {
  display: inline-block;
  vertical-align: middle
}

header>.inner h1 {
  width: 156px;
  height: 30px;
  /* background-image: url("/src/images/terms/img_logo.png"); */
  background-repeat: no-repeat;
  background-size: 100%
}

header>.inner h1 a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0
}

header>.inner h1+span {
  display: none
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner h1+span {
      display: block;
      width: 20px;
      height: 20px;
      /* background: url("/src/images/terms/ico_menu_on.png") no-repeat; */
      background-size: 100%
  }

  header>.inner h1+span.close {
      /* background-image: url("/src/images/terms/ico_close.png") */
  }
}

header>.inner nav {
  width: 830px;
  text-align: right
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner nav {
      position: fixed;
      top: 60px;
      left: 0;
      display: none;
      width: 100%;
      height: 100%;
      text-align: left;
      background-color: #fff
  }
}

header>.inner nav>ul {
  display: inline-block
}

header>.inner nav>ul>li {
  margin-left: 40px
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner nav>ul>li {
      display: block;
      margin-left: 30px
  }
}

header>.inner nav>ul>li>a {
  display: inline-block;
  height: 78px;
  line-height: 78px;
  color: #28292b;
  border-bottom: 2px solid transparent;
  transition: all .2s
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner nav>ul>li>a {
      font-size: 16px
  }
}

header>.inner nav>ul>li>a>span {
  margin-left: 5px;
  visibility: hidden
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner nav>ul>li>a>span {
      visibility: visible
  }
}

header>.inner nav>ul>li:hover>a {
  color: #25c16f;
  border-color: #25c16f
}

header>.inner nav>ul>li:hover>a>span {
  visibility: visible
}

header>.inner nav>ul>li:hover>ul {
  display: block
}

header>.inner nav>ul>li>ul {
  position: absolute;
  top: 60px;
  left: -20px;
  display: none;
  padding: 15px 20px;
  width: 175px;
  line-height: 36px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #d7d8db;
  border-radius: 5px
}

header>.inner nav>ul>li>ul>li {
  display: block
}

header>.inner nav>ul>li>ul>li a {
  color: #2e2e2e
}

header>.inner nav>ul>li>ul>li a:hover {
  color: #25c16f
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner div {
      position: fixed;
      display: none;
      bottom: 60px;
      left: 0;
      width: 100%
  }
}

header>.inner div ul {
  display: block
}

header>.inner div ul li {
  margin-left: 20px
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner div ul li {
      display: block;
      margin: 0
  }
}

header>.inner div ul li a {
  display: inline-block;
  padding-left: 40px;
  height: 16px;
  line-height: 16px;
  color: #25c16f;
  border-left: 1px solid #eDeff3;
  background-color: transparent
}

@media (min-width: 320px) and (max-width: 757px) {
  header>.inner div ul li a {
      display: block;
      margin: 0 auto;
      padding: 0;
      width: 300px;
      height: 46px;
      text-align: center;
      line-height: 44px;
      color: #fff !important;
      background-color: #25c16f;
      border-color: #25c16f;
      border-radius: 5px
  }
}

header.on {
  background-color: #fff;
  border-color: #e8e8e8
}

.content {
  min-width: 1200px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content {
      min-width: auto
  }
}

footer {
  padding-bottom: 70px;
  background: #F8FDFB;
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner {
      display: flex;
      flex-direction: column
  }
}

@media (min-width: 757px) and (max-width: 1202px) {
footer {
  display: inline-block;
}
}

footer .inner>span {
  float: left;
  margin: 3px 20px 0 0;
  font-size: 14px;
  color: #797b82
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>span {
      margin-top: 30px;
      order: 4
  }
}

footer .inner>ul:nth-child(2) {
  float: left
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>ul:nth-child(2) {
      float: none
  }
}

footer .inner>ul:nth-child(2) li {
  float: left;
  margin-right: 30px
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>ul:nth-child(2) li {
      float: none;
      margin-top: 10px
  }

  footer .inner>ul:nth-child(2) li:first-child {
      margin-top: 0
  }
}

footer .inner>ul:nth-child(2) li a {
  font-size: 14px;
  color: #28292b
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>ul:nth-child(2) li a {
      display: block;
      float: none;
      font-size: 16px
  }
}

footer .inner>ul:nth-child(3) {
  float: right;
  font-size: 0
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>ul:nth-child(3) {
      float: none;
      margin-top: 30px
  }
}

footer .inner>ul:nth-child(3) li {
  display: inline-block;
  margin-left: 20px
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>ul:nth-child(3) li {
      margin-left: 15px
  }
}

footer .inner>ul:nth-child(3) li:first-child {
  margin-left: 0
}

footer .inner>ul:nth-child(3) li a {
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 28px
}

@media (min-width: 320px) and (max-width: 757px) {
  footer .inner>ul:nth-child(3) li a {
      width: 40px;
      height: 40px;
      background-size: 40px
  }
}

footer .inner>ul:nth-child(3) li a.global {
  background-image: url("/src/images/terms/ico_global.png")
}

footer .inner>ul:nth-child(3) li a.facebook {
  background-image: url("/src/images/terms/ico_facebook.png")
}

footer .inner>ul:nth-child(3) li a.youtube {
  background-image: url("/src/images/terms/ico_youtube.png")
}

footer .inner>ul:nth-child(3) li a.insta {
  background-image: url("/src/images/terms/ico_insta.png")
}

footer .inner>ul:nth-child(3) li a.blog {
  background-image: url("/src/images/terms/ico_blog.png")
}

.content.main>section:nth-child(n+2) {
  padding: 90px 0
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section:nth-child(n+2) {
      padding: 60px 0
  }
}

.content.main>section.visual1 {
  padding: 143px 0 107px;
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual1 {
      padding: 90px 0 60px
  }
}

.content.main>section.visual1 .inner div {
  display: table-cell;
  width: 1100px;
  height: 440px;
  vertical-align: middle;
  background: url("/src/images/terms/img_visual_1.png") no-repeat right center;
  background-size: 580px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual1 .inner div {
      display: block;
      width: 100%;
      height: auto;
      background-position: center;
      background-size: 100%
  }
}

.content.main>section.visual1 .inner div h2,
.content.main>section.visual1 .inner div h2+p {
  text-align: left
}

@media (min-width: 320px) and (max-width: 757px) {

  .content.main>section.visual1 .inner div h2,
  .content.main>section.visual1 .inner div h2+p {
      text-align: center
  }
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual1 .inner div h2+p {
      margin: 0 0 80%
  }

  .content.main>section.visual1 .inner div h2+p br {
      display: none
  }
}

.content.main>section.visual1 .inner div a {
  margin-top: 35px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual1 .inner div a {
      display: block;
      margin: 10px auto 0;
      width: 260px
  }
}

.content.main>section.visual1 .inner div a:not(.btn) {
display: block;
text-decoration: underline;
font-weight: 700;
color: #25c16f;
}

@media (min-width: 320px) and (max-width: 757px) {
.content.main>section.visual1 .inner div a:not(.btn) {
  width: 100%;
  text-align: center;
}
}

.content.main>section.feature {
  text-align: center;
  background: #F8FDFB;
}

.content.main>section.feature .inner>span:first-child {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px
}

.content.main>section.feature .inner>span:first-child.purple {
  color: #7852cc;
  background-color: #ebe5f8
}

.content.main>section.feature .inner>span:first-child.cyan {
  color: #4f9bf5;
  background-color: #e5f0fe
}

.content.main>section.feature .inner>span:first-child.blue {
  color: #4f9bf5;
  background-color: #e5f0fe
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.feature .inner h2 {
      margin: 10px auto;
      width: 250px
  }

  .content.main>section.feature .inner h2+p {
      margin: 0 auto;
      width: 260px
  }
}

.content.main>section.feature .inner ul {
  font-size: 0
}

.content.main>section.feature .inner ul>li {
  display: inline-block;
  margin: 60px 50px 0;
  padding-top: 90px;
  width: 300px;
  text-align: left;
  vertical-align: top;
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: left top
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.feature .inner ul>li {
      margin: 30px 0;
      padding-top: 80px;
      width: 100%
  }
}

.content.main>section.feature .inner ul>li:nth-child(1) {
  background-image: url("/src/images/terms/ico_feature_1.png");
  margin-left: 0;
}

.content.main>section.feature .inner ul>li:nth-child(2) {
  background-image: url("/src/images/terms/ico_feature_2.png")
}

.content.main>section.feature .inner ul>li:nth-child(3) {
  background-image: url("/src/images/terms/ico_feature_3.png")
}

.content.main>section.feature .inner ul>li:nth-child(4) {
  background-image: url("/src/images/terms/ico_feature_4.png")
}

.content.main>section.feature .inner ul>li:nth-child(5) {
  background-image: url("/src/images/terms/ico_feature_5.png")
}

.content.main>section.feature .inner ul>li:nth-child(6) {
  background-image: url("/src/images/terms/ico_feature_6.png");
  margin-right: 0;
}

.content.main>section.feature .inner ul>li:nth-child(7) {
  background-image: url("/src/images/terms/ico_feature_7.png")
}

.content.main>section.feature .inner ul>li:nth-child(3) {
  margin-right: 0
}

.content.main>section.feature .inner ul>li:nth-child(4) {
  margin-left: 0
}

.content.main>section.feature .inner ul>li p {
  font-size: 16px
}

.content.main>section.feature .inner ul>li p:first-child {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  color: #28292b
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.feature .inner ul>li p:first-child {
      margin-bottom: 10px;
      font-size: 16px
  }
}

@media (max-width: 757px) {
  .content.main>section.visual2 {
      display: none;
  }
}

.content.main>section.visual2 {}

.content.main>section.visual2 .inner {
  position: relative
}

.content.main>section.visual2 .inner div {
  display: table-cell;
  padding-left: 50px;
  width: 1150px;
  height: 632px;
  vertical-align: middle;
  background: url("/src/images/terms/img_visual_2.png") no-repeat right center
}

.content.main>section.visual2 .inner div::before,
.content.main>section.visual2 .inner div::after {
  content: '';
  position: absolute;
  width: 89px;
}

.content.main>section.visual2 .inner div::before {
  bottom: 150px;
  right: 518px;
  height: 61px;
  background: url("/src/images/terms/img_visual_2_before.png");
}

.content.main>section.visual2 .inner div::after {
  top: 50px;
  right: -10px;
  height: 122px;
  background: url("/src/images/terms/img_visual_2_after.png");
}

.content.main>section.visual2 .inner div>span:first-child {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px
}

.content.main>section.visual2 .inner div>span:first-child.purple {
  color: #7852cc;
  background-color: #ebe5f8
}

.content.main>section.visual2 .inner div>span:first-child.cyan {
  color: #4f9bf5;
  background-color: #e5f0fe
}

.content.main>section.visual2 .inner div>span:first-child.blue {
  color: #4f9bf5;
  background-color: #e5f0fe
}

.content.main>section.visual2 .inner div h2,
.content.main>section.visual2 .inner div h2+p,
.content.main>section.visual2 .inner div ul {
  width: 500px;
  text-align: left
}

.content.main>section.visual2 .inner div ul {
  overflow: hidden
}

.content.main>section.visual2 .inner div ul li {
  float: left;
  margin-top: 35px;
  padding-left: 22px;
  width: 228px;
  color: #28292b;
  font-weight: 700;
  background: url("/src/images/terms/ico_check.png") no-repeat left center;
  background-size: 12px
}

.content.main>section.price {
  text-align: center;
  background: rgba(225, 230, 237, 0.3);
}

.content.main>section.price .inner {
  padding: 0
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner {
      padding: 0 30px
  }
}

.content.main>section.price .inner>span:first-child {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px
}

.content.main>section.price .inner>span:first-child.purple {
  color: #7852cc;
  background-color: #ebe5f8
}

.content.main>section.price .inner>span:first-child.cyan {
  color: #4f9bf5;
  background-color: #e5f0fe
}

.content.main>section.price .inner>span:first-child.blue {
  color: #4f9bf5;
  background-color: #e5f0fe
}

.content.main>section.price .inner>ul {
  margin-top: 60px;
  font-size: 0
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner>ul {
      margin-top: 0
  }
}

.content.main>section.price .inner>ul>li#free {
  border-top: 4px solid #25C16F;
}
.content.main>section.price .inner>ul>li {
  display: inline-block;
  margin-left: 22px;
  padding: 0 25px;
  vertical-align: top;
  width: 225px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #d7d8db;
  border-top: 4px solid #6699ff;
  border-radius: 5px;
  transition: all .2s
}

.content.main>section.price .inner>ul>li:first-child {
  margin-left: 0
}

.content.main>section.price .inner>ul>li:hover {
  box-shadow: 0px 0px 20px 5px rgba(62, 63, 66, 0.12)
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner>ul>li {
      margin-left: 0;
      margin-top: 30px;
      width: 100%;
      box-sizing: border-box
  }
}

.content.main>section.price .inner>ul>li>div:first-child {
  position: relative;
  padding: 20px 0;
  height: 190px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner>ul>li>div:first-child {
      height: auto
  }
}

.content.main>section.price .inner>ul>li>div:first-child span {
  font-weight: 700;
  color: #28292b
}

.content.main>section.price .inner>ul>li>div:first-child span:first-child {
  font-size: 16px
}

.content.main>section.price .inner>ul>li>div:first-child span:first-child+span {
  display: block;
  margin-bottom: 55px;
  font-size: 24px
}

.content.main>section.price .inner>ul>li>div:first-child p {
  font-size: 13px
}

.content.main>section.price .inner>ul>li>div:first-child p.small {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #28292b
}

.content.main>section.price .inner>ul>li>div:first-child p.small+.small {
  top: 113px;
  font-size: 12px;
  color: #797b82
}

.content.main>section.price .inner>ul>li>div:last-child {
  position: relative;
  height: 370px;
  border-top: 1px solid #eDeff3
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner>ul>li>div:last-child {
      padding-bottom: 100px;
      height: auto
  }
}

.content.main>section.price .inner>ul>li>div:last-child ul li {
  margin-top: 16px;
  margin-left: 32px;
  line-height: 16px;
  text-align: left;
  font-size: 13px;
  color: #28292b;
  text-indent: -32px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner>ul>li>div:last-child ul li {
      letter-spacing: 0;
      font-size: 14px
  }
}

.content.main>section.price .inner>ul>li>div:last-child ul li::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  border-radius: 22px;
  background: url("/src/images/terms/ico_check.png") no-repeat center #dff6ea;
  background-size: 12px
}

.content.main>section.price .inner>ul>li>div:last-child .btn {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 40px;
  line-height: 38px
}

.content.main>section.price .inner>a {
  display: block;
  margin-top: 30px;
  color: #4C86F4
}

.content.main>section.price .inner>a::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 16px;
  height: 8px;
  vertical-align: middle;
  background: url("/src/images/terms/ico_arrow.png") no-repeat;
  background-size: 12px
}

.content.main>section.price .inner>a+table {
  display: none;
  margin: 30px auto 0;
  width: 1100px;
  text-align: left
}

.content.main>section.price .inner>a+table th,
.content.main>section.price .inner>a+table td {
  vertical-align: middle
}

.content.main>section.price .inner>a+table thead th {
  height: 56px;
  font-weight: 700;
  color: #28292b;
  border-bottom: 1px solid #d7d8db
}

.content.main>section.price .inner>a+table thead th:first-child {
  padding-left: 20px
}

.content.main>section.price .inner>a+table thead th:nth-child(n+2) {
  text-align: center
}

.content.main>section.price .inner>a+table tbody tr {
  transition: all .1s
}

.content.main>section.price .inner>a+table tbody tr:hover {
  background-color: #F0F2F4
}

.content.main>section.price .inner>a+table tbody tr th {
  padding-left: 20px;
  color: #28292b
}

.content.main>section.price .inner>a+table tbody tr th,
.content.main>section.price .inner>a+table tbody tr td {
  height: 48px;
  font-size: 14px;
  border-bottom: 1px solid #eDeff3
}

.content.main>section.price .inner>a+table tbody tr td {
  text-align: center
}
/*가격표 select*/
.content.main>section.price .inner>a+table tbody tr td.month {
  display: none;
}

.content.main>section.price .inner>a+table tbody tr th div.radio-selector{
  margin-bottom: 30px;
}

.content.main>section.price .inner>a+table tbody tr th .radio-selector span{
  cursor: pointer;
  margin-top: 0px;
}
.content.main>section.price .inner>a+table tbody tr th .radio-selector input[type="radio"]{
  display: none;
}

.content.main>section.price .inner>a+table tbody tr th .radio-selector>label>span.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  content: '';
  width: 18px;
  height: 18px;
  background-image: url("/src/images/terms/icon_pack.png");
  background-repeat: no-repeat;
  background-position: left -433px top -265px;
}

.content.main>section.price .inner>a+table tbody tr th .radio-selector input[type="radio"]:checked+label > span.icon {
  background-position: left -473px top -265px;
}

.content.main>section.price .inner>a+table tbody tr span {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #28292b
}

.content.main>section.price .inner>a+table tbody tr div {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #797B82
}

.content.main>section.price .inner>a+table tbody tr div.trial.type {
  margin-top:106px;
}

.content.main>section.price .inner>a+table tbody tr td div.premium {
  margin-top:58px;
}

.content.main>section.price .inner>a+table tbody tr div.type {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #28292b
}
/*종료*/
.content.main>section.price .inner>a+table tbody tr span.col {
  display: none
}

.content.main>section.price .inner>a+table tbody tr span.check {
  margin-top: 0;
  width: 14px;
  height: 11px;
  background-image: url("/src/images/terms/ico_check.png");
  background-size: 100%
}

.content.main>section.price .inner>a+table tbody tr a {
  display: block;
  margin: 15px auto 30px;
  width: 126px;
  height: 40px;
  line-height: 38px
}

.content.main>section.price .inner>a.on::after {
  margin-bottom: 5px;
  transform: rotateX(180deg)
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.price .inner>a.on+table {
      display: block !important;
      width: 100%
  }

  .content.main>section.price .inner>a.on+table * {
      display: block;
      height: auto
  }

  .content.main>section.price .inner>a.on+table thead th {
      border-bottom: 1px solid #d7d8db
  }

  .content.main>section.price .inner>a.on+table thead th:first-child {
      padding: 15px 0;
      text-align: center;
      font-size: 24px
  }

  .content.main>section.price .inner>a.on+table thead th:nth-child(n+2) {
      display: none
  }

  .content.main>section.price .inner>a.on+table tbody tr {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 45px 0 20px;
      border-bottom: 1px solid #d7d8db
  }

  .content.main>section.price .inner>a.on+table tbody tr th {
      position: absolute;
      top: 15px;
      left: 0;
      padding-left: 0;
      border-bottom: 0;
      font-size: 14px
  }

  .content.main>section.price .inner>a.on+table tbody tr td {
      border-bottom: 0
  }

  .content.main>section.price .inner>a.on+table tbody tr td span {
      margin-top: 0;
      font-size: 12px
  }

  .content.main>section.price .inner>a.on+table tbody tr td span.col {
      display: block;
      margin-bottom: 3px
  }

  .content.main>section.price .inner>a.on+table tbody tr td a {
      margin: 10px 0 0;
      padding: 0 10px;
      width: 100%;
      line-height: 30px;
      box-sizing: border-box;
      font-size: 10px
  }

  .content.main>section.price .inner>a.on+table tbody tr:last-child {
      padding: 20px 0
  }

  /*가격*/
  .content.main>section.price .inner>a+table tbody tr td.year,
  .content.main>section.price .inner>a+table tbody tr th div.radio-selector,
  .content.main>section.price .inner>a+table tbody tr td.month div {
      display:none;
  }
  .content.main>section.price .inner>a+table tbody tr td.month div.type,
  .content.main>section.price .inner>a+table tbody tr td.month div.type.trial
  {
      margin-top: 0;
      font-size: 12px;
      display: block;
  }
  /*종료*/
}

.content.main>section.faq {}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.faq h2+p {
      margin: 0 auto;
      width: 220px
  }
}

.content.main>section.faq ul {
  margin-top: 45px
}

.content.main>section.faq ul li {
  position: relative;
  margin: 15px auto 0;
  padding: 22px 20px;
  width: 800px;
  border: 1px solid #d7d8db;
  border-radius: 10px;
  background-color: #fff;
  transition: all .2s
}

.content.main>section.faq ul li:hover {
  box-shadow: 0px 0px 20px 5px rgba(62, 63, 66, 0.12)
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.faq ul li {
      padding: 10px 20px;
      width: 100%;
      box-sizing: border-box
  }
}

.content.main>section.faq ul li::before,
.content.main>section.faq ul li::after {
  content: '';
  position: absolute;
  background-color: #999;
  border-radius: 1px
}

.content.main>section.faq ul li::before {
  top: 35px;
  right: 20px;
  width: 16px;
  height: 2px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.faq ul li::before {
      top: 21px;
      width: 14px
  }
}

.content.main>section.faq ul li::after {
  top: 28px;
  right: 27px;
  width: 2px;
  height: 16px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.faq ul li::after {
      top: 15px;
      right: 26px;
      height: 14px
  }
}

.content.main>section.faq ul li p:first-child {
  font-weight: 700;
  color: #28292b
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.faq ul li p:first-child {
      width: 88%
  }
}

.content.main>section.faq ul li p:last-child {
  display: none;
  margin-top: 10px
}

.content.main>section.faq ul li.expanded::before,
.content.main>section.faq ul li.expanded::after {
  background-color: #25c16f
}

.content.main>section.faq ul li.expanded::after {
  content: none
}

.content.main>section.faq ul li.expanded p:first-child {
  color: #25c16f
}

.content.main>section.faq ul li.expanded p:last-child {
  display: block
}

.content.main>section.why {
background-color: #FAFCFF
}

.content.main>section.why ul li {
margin-top: 40px;
display: flex;
align-items: center;
width: 420px;
height: 390px;
background: no-repeat;
background-size: 500px;
}

@media (min-width: 320px) and (max-width: 757px) {
.content.main>section.why ul li {
  padding-top: 76%;
  width: 100%;
  height: auto;
  text-align: center;
  background-size: 100%;
}
}

.content.main>section.why ul li:nth-child(odd){
padding-left: 50px;
padding-right: calc(100% - 470px);
background-position-x: right;
}

@media (min-width: 320px) and (max-width: 757px) {
.content.main>section.why ul li:nth-child(odd){
  padding-left: 0;
  padding-right: 0;
}
}

.content.main>section.why ul li:nth-child(even){
padding-right: 50px;
padding-left: calc(100% - 470px);
background-position-x: left;
}

@media (min-width: 320px) and (max-width: 757px) {
.content.main>section.why ul li:nth-child(even){
  padding-left: 0;
  padding-right: 0;
}
}

.content.main>section.why ul li:nth-child(1) {
margin-top: 0;
background-image: url("/src/images/terms/img_why_1.png");
}

@media (min-width: 320px) and (max-width: 757px) {
.content.main>section.why ul li:nth-child(1) {
  margin-top: 20px;
  background-image: url("/src/images/terms/img_why_1.png");
}
}

.content.main>section.why ul li:nth-child(2) {
background-image: url("/src/images/terms/img_why_2.png");
}

.content.main>section.why ul li:nth-child(3) {
background-image: url("/src/images/terms/img_why_3.png");
}

.content.main>section.why ul li div {
width: 100%;
}

.content.main>section.why ul li p:first-child {
margin-bottom: 13px;
line-height: 1.4;
font-size: 28px;
font-weight: 700;
color: #28292B;
}

@media (min-width: 320px) and (max-width: 757px) {
.content.main>section.why ul li p:first-child {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.content.main>section.why ul li p br {
  display: none;
}
}

.content.main>section.doc {
padding-bottom: 0;
background: #F8FDFB;
}

.content.main>section.doc .inner ul {
  text-align: center
}

.content.main>section.doc .inner ul li {
  display: inline-block;
  padding: 100px 0 30px;
  width: 355px;
  background: url("/src/images/terms/ico_doc_1.png") top 30px center no-repeat;
  background-size: 60px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.doc .inner ul li {
      margin: 0;
      width: 100%;
      box-sizing: border-box
  }

  .content.main>section.doc .inner ul li:first-child {
      margin-bottom: 30px
  }
}

.content.main>section.doc .inner ul li:nth-child(2) {
  background-image: url("/src/images/terms/ico_doc_3.png")
}

.content.main>section.doc .inner ul li:nth-child(3) {
  background-image: url("/src/images/terms/ico_doc_4.png")
}

.content.main>section.doc .inner ul li span {
  font-weight: 700;
  color: #28292b;
  font-size: 18px
}

.content.main>section.doc .inner ul li a {
  display: inline-block;
  margin: 10px;
  color: #25c16f
}

.content.main>section.visual3 {
  background: url("/src/images/terms/bg_visual_3.png") center no-repeat #F8FDFB;
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 {
      padding-top: 30px;
      background-image: none
  }
}

.content.main>section.visual3 .inner {
  padding: 75px 110px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 .inner {
      margin: 0 30px;
      padding: 15px 20px 20px;
      width: calc(100% - 60px);
      background-color: #25c16f
  }
}

.content.main>section.visual3 .inner div:first-child {
  float: left
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 .inner div:first-child {
      float: none
  }
}

.content.main>section.visual3 .inner div:first-child p {
  color: #fff
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 .inner div:first-child p {
      text-align: center
  }
}

.content.main>section.visual3 .inner div:first-child p:first-child {
  font-weight: 700;
  font-size: 30px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 .inner div:first-child p:first-child {
      margin: 0 auto 10px;
      width: 220px;
      line-height: 28px;
      text-align: center;
      font-size: 20px
  }
}

.content.main>section.visual3 .inner div:last-child {
  margin-top: 17px;
  float: right
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 .inner div:last-child {
      margin: 0;
      float: none
  }
}

.content.main>section.visual3 .inner div:last-child .btn {
  border-color: #fff
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.main>section.visual3 .inner div:last-child .btn {
      display: block;
      margin: 10px auto 0
  }

  .content.main>section.visual3 .inner div:last-child .btn:first-child {
      margin-top: 20px
  }
}

.content.main>section.visual3 .inner div:last-child .btn:hover {
  color: #25c16f;
  background-color: #fff
}

.content.main>section.visual3 .inner div:last-child .btn.primary:hover {
  color: #fff;
  background-color: #2dd67c
}

.content.main>section+footer {
  margin-top: 120px
}

header.form>.inner h1 {
  /* background-image: url("/src/images/terms/img_logo_form.png") */
}

header.form>.inner h1+span {
  background-image: url("/src/images/terms/ico_menu.png")
}

header.form>.inner nav>ul>li>a {
  color: #fff
}

header.form>.inner nav>ul>li:hover>a {
  border-color: #fff
}

header.form>.inner nav+div li a {
  color: #fff
}

header.form.on>.inner h1 {
  /* background-image: url("/src/images/terms/img_logo.png") */
}

header.form.on>.inner h1+span {
  background-image: url("/src/images/terms/ico_menu_on.png")
}

header.form.on>.inner h1+span.close {
  background-image: url("/src/images/terms/ico_close.png")
}

header.form.on>.inner nav>ul>li>a {
  color: #28292b
}

header.form.on>.inner nav>ul>li:hover>a {
  color: #25c16f;
  border-color: #25c16f
}

header.form.on>.inner nav+div li a {
  color: #25c16f
}

.content.form {
  background: url("/src/images/terms/bg_form.png") top right no-repeat
}

@media (min-width: 1920px) {
  .content.form {
      background-size: 100%
  }
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form {
      background-position: top -400px center;
      background-size: cover
  }
}

.content.form section {
  padding: 160px 0 120px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section {
      padding: 90px 0 60px
  }
}

.content.form section .inner h2,
.content.form section .inner h2+p {
  color: #fff
}

.content.form section .inner>div {
  margin: 40px auto 0;
  padding: 60px 50px;
  width: 740px;
  overflow: hidden;
  box-shadow: 0px 0px 60px rgba(62, 63, 66, 0.1);
  border-radius: 10px;
  background-color: #fff
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section .inner>div {
      padding: 30px 20px;
      width: 100%;
      box-sizing: border-box
  }
}

.content.form section .inner>div>form>div>.red>input[type=text],
.content.form section .inner>div>form .red select,
.content.form section .inner>div>form .red textarea {
  border-color: #f6705e
}

.content.form section .inner>div>form .red p {
  visibility: visible
}

.content.form section .inner>div>form>div:nth-child(2)>label {
  display: block
}

.content.form section .inner>div>form>div:nth-child(2)>div {
  float: left;
  width: 350px
}

.content.form section .inner>div>form>div:nth-child(2)>div.right {
  height: 112px;
  margin-left: 40px
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section .inner>div>form>div:nth-child(2)>div.right {
      height: auto;
      margin: 0
  }
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section .inner>div>form>div:nth-child(2)>div {
      width: 100%
  }
}

/* .content.form section .inner>div>form>div:nth-child(2) label+input {
  display: inline-block;
  width: 240px;
  margin-left: 10px;
  height: 22px;
  vertical-align: middle;
  border-width: 0 0 1px 0;
  border-radius: 0
} */

.content.form section .inner>div>form>div.flexDiv {
  display: flex;
  justify-content: space-between
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section .inner>div>form>div:nth-child(n+3) {
      display: block
  }
}

.content.form section .inner>div>form>div:last-child {
  margin-top: 10px
}

.content.form section .inner>div>form>div span {
  color: #25c16f
}

.content.form section .inner>div>form>div p {
  visibility: hidden;
  color: #f6705e
}

.content.form section .inner>div>form>div input[type=text],
.content.form section .inner>div>form>div select,
.content.form section .inner>div>form>div textarea {
  display: block;
  padding: 5px 10px;
  width: 350px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #d7d8db;
  border-radius: 5px
}

@media (min-width: 320px) and (max-width: 757px) {

  .content.form section .inner>div>form>div input[type=text],
  .content.form section .inner>div>form>div select,
  .content.form section .inner>div>form>div textarea {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      -webkit-appearance: none
  }
}

.content.form section .inner>div>form>div textarea {
  width: 730px;
  height: 120px;
  resize: none;
  overflow: auto
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section .inner>div>form>div textarea {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px
  }
}

.content.form section .inner>div>form>div input[type=checkbox] {
  display: none
}

.content.form section .inner>div>form>div input[type=checkbox]+label {
  padding-left: 24px;
  background-image: url("/src/images/terms/ico_checkbox.png");
  background-position: center left;
  background-size: 16px;
  background-repeat: no-repeat
}

.content.form section .inner>div>form>div input[type=checkbox]:checked+label {
  background-image: url("/src/images/terms/ico_checkbox_checked.png")
}

.content.form section .inner>div>form>div input[type=radio]+label {
  display: inline-block;
  margin: 5px 16px 7px 0
}

@media (min-width: 320px) and (max-width: 757px) {
  .content.form section .inner>div>form>div input[type=radio]+label {
      margin-bottom: 0
  }
  .content.form section .inner>div>form>div button {
      display: block;
      margin: 0 auto
  }
}

.content.form section .inner>div>form>div a {
  font-weight: bold;
}

.content.form section .inner>div>form>div button {
  display: block;
}

.content.privacy section {
  padding: 160px 0 120px
}

.content.privacy section .inner>ul>li {
  margin-top: 80px
}

.content.privacy section .inner>ul>li table {
  margin-top: 16px
}

.content.privacy section .inner>ul>li table th,
.content.privacy section .inner>ul>li table td {
  padding: 5px 10px;
  vertical-align: middle;
  border: 1px solid #d7d8db
}

.content.privacy section .inner>ul>li table th {
  text-align: center;
  color: #28292b;
  background-color: #eee
}

.content.privacy section .inner>ul>li p {
  margin-top: 16px
}

.content.privacy section .inner>ul>li>ul>li {
  margin-top: 30px
}

.content.privacy section .inner>ul>li>ul>li li:first-child {
  margin-top: 16px
}

.content.privacy section .inner>ul>li>ul>li li p {
  margin-top: 0
}

/*# sourceMappingURL=style.css.map */