.sliderBox {
  width: 100%;  
}
.swiper_pagination {
  width: 12px; 
  height: 12px; 
  border-radius: 50%;  
}
.swiper_pagination_bullet { 
  width: 12px; 
  height: 12px; 
  background: transparent; 
  border: 1px solid pink; 
  opacity: 1; 
}
.swiper_pagination_bullet_active { 
  width: 40px; 
  transition:width .5s;
  border-radius: 5px; 
  background: pink; 
  border: 1px solid transparent; 
}
.inner {
  margin: 0 auto;
  padding: 0 50px;
  width: 1200px;  
  box-sizing: border-box
}
.buttonBox {
  display: flex;  
  position: absolute;
  top: 5%;
  justify-content: right;  
  right: 1%;
  width: 1200px;  
}
.swiper_next, .swiper_prev {
  cursor: pointer;    
  width: 30px;
  height: 30px;   
  z-index: 9999;
}
.swiper_next {  
  background-image: url("../../images/slider/next.svg");    
}
.swiper_prev { 
  margin-right: 12px;  
  background-image: url("../../images/slider/prev.svg");    
}
.prevBtn {
  position: absolute;
  top: 0;
  width: 30px !important;
  height: 30px !important;
  /* margin-left: 1200px; */
  background-image: url('../../images/slider/prev.svg');
}
.nextBtn {
  position: absolute;
  top: 0;
  right: 10px;  
  width: 30px !important;
  height: 30px !important;
  /* margin-left: 1200px; */
  background-image: url('../../images/slider/next.svg');
}
.swiper {
  max-width: 1200px;
  min-width: 1000px;
  margin: auto;
  height: 840px;
}
.slide_title {
  padding: 0 50px;  
}
.slide_title .main {
  font-size: 24px;
  color: #3182F6;
  line-height: 130%;
  margin-bottom: 16px;
  display: flex;
}
.slide_title .main .number {
  background-color: #3182F6;
  font-size: 16px;
  color: #fff;
  text-align: center;
  width: 28px;
  height: 28px;  
  border-radius: 50%;
  margin-right: 16px;
  line-height: 25px;
}
.slide_title .sub {
  font-size: 20px;
  color: #5A5C61;
  line-height: 130%;
}
.feature {
  display: flex;
  justify-content: center;    
}
.feature_content {  
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;  
  justify-content: center;
  text-align: center;
  /* margin-top: 24px;
  margin-bottom: 24px; */
  background: linear-gradient(212.83deg, rgba(243, 247, 255, 0.1) 19.61%, rgba(222, 238, 254, 0.1) 83.27%);
  border-radius: 20px;
}
.feature_content .menu3 img {
  margin-right: 112px
}
.imgBox {
  height: 90px;  
}
.menu1 {
  margin-top: 46px;  
  margin-bottom: 44px;  
  width: 100%;
}
.menu2 {
  margin-top: 50px;  
  margin-bottom: 36px;
}
.menu2 img {
  /* margin-right: 110px;   */
}
.menu2 .imgBox{
  margin-bottom: 16px;
}
.menu3 {
  margin-top: 50px;  
  margin-bottom: 46px;
}
.menu3 img {
  /* margin-right: 114px; */
}
.menu3 .feature_content:nth-child(3) img {
  margin-right: 0;
}
.feature_menu {
  display: flex;    
  justify-content: center;
  /* margin-top: 36px;   */
}
.feature_menu:hover .swiper-button-prev {
  display: none;
}
.feature_menu img {
  /* margin-top: 47px;     */
}
.feature_menu_content {
  width: 350px;
  min-width: 280px;
  height: 376px;
  padding: 20px 0 40px 0;
  text-align: center;
  border: 1px solid #EDEFF3;
  box-sizing: border-box;
  box-shadow: 5px 15px 20px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-right: 25px;
}
.feature_menu_content:nth-child(3) {
  margin-right: 0;
}
.feature_menu_content .menu_title{  
  margin-top: 20px;
  font-size: 20px;
  height: 54px;
}
.feature_menu_content .menu_content{
  margin-top: 20px;
  font-size: 16px;
}
.menu_imgBox {  
  height: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_content {
  line-height: 28px;
  max-width: 300px;
  margin: auto;
}
@media screen and (max-width:1024px) {  
  .swiper {
    /* width: 70%;     */
    /* height: 840px; */
  }
}
@media screen and (max-width:768px) {  
  .swiper {
    width: auto;    
    height: auto;    
    min-width: 0px;
  }
  .slide_title {
    padding: 0 20px;
    text-align: center;    
  }  
  .main{
    justify-content: center;
    align-items: center;
  }
  .feature_menu {    
    flex-direction: column;    
  }
  .feature_menu_content {        
    margin: 0 auto 30px;      
  }
  .Mfeature_content {
    width: 350px;
    height: 239px;
  }
  .menu1, .menu2,.menu3 {
    width: 350px;
    height: 239px;  
    margin: 28px auto 24px auto;
  }
  .menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu_content {
    max-width: 300px;
    margin: 20px auto 0;
  }
  /* .menu2, .menu3 {
    margin: 28px auto 92px auto;
  } */
  /* .feature_menu_content .menu1 {
    margin-top: 0;
  } */
  .feature_menu_content .menu2 {
    width: 350px;
    height: 239px;
  }  
  /* .feature_menu_content img {
    height: 239px;
  } */
  .feature_menu_content:nth-child(3) {
    margin: 0 auto 146px;
  }
  .feature_content {
    width: 100%;
    height: 100%;      
  }      
}
@media screen and (max-width:320px) { 
  .feature_menu_content {
    min-width: 250px;
  }
  .slide_title {
    padding: 0;    
  }
  .slide_title .sub {
    font-size: 16px;
  }
  .slide_title .main{
    font-size: 20px;
  }
  .menu1, .menu2, .menu3 {
    width: 280px;
  }
  .menu1 img, .menu2 , .menu3 {
    width: 250px;
  }
  .menu3 div img {
    width: 280px;
  }
  .feature_title {
    font-size: 22px;
  }
  .feature_menu_content {
    width:250px;
  }
  .feature_menu_content .menu_content{
    font-size: 14px;
  }
}